@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px; /* button padding as requested in readme */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.header, .footer{
  display: flex;
  justify-content: space-between; /* links to the side of the header and footer */
  padding: 10px; /* padding to let them breath */
}

.content{ /*main content is a flex container with direction column and centered to the page */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
ul{ /* every list han no style and gap between elements. Flex container to make the items stand in line. Gap to look good */
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

a{
  text-decoration: none; /* remove the underlining */
  color: rgb(60, 124, 180); /* color change to link text */
}

.footer{
  background-color: #eeeeee; /* same as header, just different background color */
}
