body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;


}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 20px 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px 133px 0px 133px;
  padding: 10px 20px;
}